/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.hide-scrollbars {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbars::-webkit-scrollbar {
  width: 0px;
  display: none;
  background: transparent; /* Chrome/Safari/Webkit */
}
